.App {
  text-align: center;
}

form {
  max-width: 500px;
  margin: auto;
  padding: 1%;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  max-width: 500px;
  margin: auto;
}

ul li {
  border-bottom: 1px solid #ddd;
  padding: 1%;
}

ul li:last-child {
  border-bottom: none;
}
